html{
  scroll-behavior: smooth;
}

header{
  padding: 2em 0 2em 0;
  background-image: linear-gradient(10deg, #bbd8ed, #f2faff, #fffddb);
}

hr{
  margin:0 0 .75em 0;
}

.topBar{
  margin-left: 3.8em;
  margin-bottom: 1em;
  align-items: center;
}

li:first-child{
  font-size: 1em;
  padding-left: .55em;
}

li{
  padding: 0em .2em 0 1em;
  font-size: .8em;
  font-weight: bold;
}

.name:hover{
  transform: scale(1.1);
}

span{
  font-weight: normal;
}

th{
  font-variant: small-caps;
  transition: background .25s ease-in;
}

.aboveTable{
  margin: 0 0 .2em 4.5em;
}

.divTable{
  margin: 0 4.5em;
}

.smShadow{
  box-shadow: 0 1px 10px #c7c7c7;
}

a{
  margin-left: .2em;
}


a:link, a:visited{
  color: #083f61;
  font-weight: bold;
}

a:hover{
  color: #6898a3;
  text-decoration: none;
}

.gain{
  color:#62d61e;
}

.loss{
  color:#c90700;
}

.ticker{
  font-size: .95em;
  color:#525252;
}

.logo{
  width: 1.25em;
}

.table-sortable .clickable{
  cursor: pointer;
}

.table-sortable .th-sort-asc::after{
  content: "\25b4";
}

.table-sortable .th-sort-desc::after{
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
  margin-left: 5px;
}

.th-sort-asc,.th-sort-desc {
  background-color: #f2faff;
}

.highLow{
  padding: 0;
  margin: 0;
  font-size: 7pt;
  color: #b5b5b5;
}

.high{
  color:#48a360;
}

.low{
  color:#a34848;
}

.goToTopbtn{
  opacity: 60%;
  position: fixed;
  background: #6fb4ed;
  bottom: 2em;
  right: .75em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 10%;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
}

.fas{
  color: white;
}

.goToTopbtn:hover{
  background: #0c86eb;
}
