html{
  scroll-behavior: smooth;
}

header{
  padding: 2em 0 2em 0;
  background-image: linear-gradient(#bbd8ed, #f2faff);
}

hr{
  margin:0 0 .75em 0;
}

.topBar{
  margin-left: 1.9em;
  margin-right: 0em;
  list-style: none;
}

h6{
  margin: 0;
}

li{
  padding: 0em .2em 0 1em;
  font-size: .8em;
  font-weight: bold;
}

span{
  font-size: .8em;
}

th{
  font-variant: small-caps;
}

.aboveTable{
  padding: 0;
  margin: 0 0 .2em 4.5em;
}

.divTable, .divTableTwo, .divTableThree {
  margin: 0 4.5em 0 4.5em;
}

.smShadow{
  box-shadow: 0 1px 10px #c7c7c7;
}

#myInput2, #myInput3{
  margin: 1em 0 .5em 4.5em;
}

a{
  margin-left: .2em;
}

a:link{
  color: #083f61;
  font-weight: bold;
}

a:visited{
  color: #083f61;
}

a:hover{
  color: #6898a3;
}

.gain{
  color:#62d61e;
}

.loss{
  color:#c90700;
}

.ticker{
  font-size: .95em;
  color:#525252;
}

.logo{
  width: 1.25em;
}

.table-sortable .clickable{
  cursor: pointer;
}

.table-sortable .th-sort-asc::after{
  content: "\25b4";
}

.table-sortable .th-sort-desc::after{
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
  margin-left: 5px;
}

.th-sort-asc,.th-sort-desc {
  background-color: #f0f0f0;
}

.highLow{
  padding: 0;
  margin: 0;
  font-size: 7pt;
  color: #b5b5b5;
}

.high{
  color:#48a360;
}

.low{
  color:#a34848;
}

.goToTopbtn{
  opacity: 60%;
  position: fixed;
  background: #6fb4ed;
  bottom: 2em;
  right: .75em;
  width: 2.5em;
  height: 2.5em;

  border-radius: 10%;

  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
}

.fas{
  color: white;
}
