header{
  margin-top: 2em;
}

.table{
  margin-top: 3em;
}

.gain{
  color:#62d61e;
}

.loss{
  color:#c90700;
}

.ticker{
  font-size: .95em;
  color:#525252;
}

.logo{
  width: 1.25em;
}

.table-sortable th{
  cursor: pointer;
}

.table-sortable .th-sort-asc::after{
  content: "\25b4";
}

.table-sortable .th-sort-desc::after{
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
  margin-left: 5px;
}
